.svg--IE-dims {
  width: 32px;
  height: 32px;
}

.svg--add-user-dims {
  width: 27px;
  height: 32px;
}

.svg--airplay-dims {
  width: 32px;
  height: 32px;
}

.svg--alarm-dims {
  width: 32px;
  height: 32px;
}

.svg--album-dims {
  width: 29px;
  height: 32px;
}

.svg--albums-dims {
  width: 32px;
  height: 32px;
}

.svg--amazon-dims {
  width: 32px;
  height: 32px;
}

.svg--anchor-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-down-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-down-circle-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-left-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-left-circle-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-right-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-right-circle-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-up-dims {
  width: 32px;
  height: 32px;
}

.svg--angle-up-circle-dims {
  width: 32px;
  height: 32px;
}

.svg--appleinc-dims {
  width: 32px;
  height: 32px;
}

.svg--arc-dims {
  width: 27px;
  height: 32px;
}

.svg--attention-dims {
  width: 32px;
  height: 32px;
}

.svg--back-dims {
  width: 32px;
  height: 32px;
}

.svg--back-2-dims {
  width: 30px;
  height: 32px;
}

.svg--ball-dims {
  width: 32px;
  height: 32px;
}

.svg--bandaid-dims {
  width: 30px;
  height: 32px;
}

.svg--battery-dims {
  width: 32px;
  height: 32px;
}

.svg--behance-dims {
  width: 32px;
  height: 32px;
}

.svg--bell-dims {
  width: 32px;
  height: 32px;
}

.svg--bicycle-dims {
  width: 32px;
  height: 32px;
}

.svg--bluetooth-dims {
  width: 16px;
  height: 32px;
}

.svg--bookmarks-dims {
  width: 32px;
  height: 32px;
}

.svg--bottom-arrow-dims {
  width: 26px;
  height: 32px;
}

.svg--box1-dims {
  width: 32px;
  height: 32px;
}

.svg--box2-dims {
  width: 32px;
  height: 32px;
}

.svg--browser-dims {
  width: 32px;
  height: 32px;
}

.svg--calculator-dims {
  width: 32px;
  height: 32px;
}

.svg--call-dims {
  width: 32px;
  height: 32px;
}

.svg--camera-dims {
  width: 32px;
  height: 32px;
}

.svg--car-dims {
  width: 29px;
  height: 32px;
}

.svg--cart-dims {
  width: 32px;
  height: 32px;
}

.svg--cash-dims {
  width: 29px;
  height: 32px;
}

.svg--chat-dims {
  width: 32px;
  height: 32px;
}

.svg--check-dims {
  width: 32px;
  height: 32px;
}

.svg--chrome-dims {
  width: 32px;
  height: 32px;
}

.svg--clock-dims {
  width: 32px;
  height: 32px;
}

.svg--close-dims {
  width: 32px;
  height: 32px;
}

.svg--close-circle-dims {
  width: 32px;
  height: 32px;
}

.svg--cloud-dims {
  width: 32px;
  height: 32px;
}

.svg--cloud-download-dims {
  width: 32px;
  height: 32px;
}

.svg--cloud-upload-dims {
  width: 32px;
  height: 32px;
}

.svg--coffee-dims {
  width: 32px;
  height: 32px;
}

.svg--comment-dims {
  width: 32px;
  height: 32px;
}

.svg--compass-dims {
  width: 32px;
  height: 32px;
}

.svg--compass2-dims {
  width: 32px;
  height: 32px;
}

.svg--config-dims {
  width: 32px;
  height: 32px;
}

.svg--copy-file-dims {
  width: 32px;
  height: 32px;
}

.svg--credit-dims {
  width: 32px;
  height: 32px;
}

.svg--crop-dims {
  width: 32px;
  height: 32px;
}

.svg--css3-dims {
  width: 32px;
  height: 32px;
}

.svg--culture-dims {
  width: 32px;
  height: 32px;
}

.svg--cup-dims {
  width: 32px;
  height: 32px;
}

.svg--date-dims {
  width: 32px;
  height: 32px;
}

.svg--delete-user-dims {
  width: 26px;
  height: 32px;
}

.svg--diamond-dims {
  width: 28px;
  height: 32px;
}

.svg--disk-dims {
  width: 26px;
  height: 32px;
}

.svg--diskette-dims {
  width: 32px;
  height: 32px;
}

.svg--display-dims {
  width: 32px;
  height: 32px;
}

.svg--display1-dims {
  width: 32px;
  height: 32px;
}

.svg--display2-dims {
  width: 32px;
  height: 32px;
}

.svg--door-lock-dims {
  width: 27px;
  height: 32px;
}

.svg--download-dims {
  width: 32px;
  height: 32px;
}

.svg--drawer-dims {
  width: 32px;
  height: 32px;
}

.svg--drop-dims {
  width: 32px;
  height: 32px;
}

.svg--edge-dims {
  width: 32px;
  height: 32px;
}

.svg--edit-dims {
  width: 32px;
  height: 32px;
}

.svg--exapnd2-dims {
  width: 32px;
  height: 32px;
}

.svg--expand1-dims {
  width: 32px;
  height: 32px;
}

.svg--eyedropper-dims {
  width: 26px;
  height: 32px;
}

.svg--facebook-dims {
  width: 32px;
  height: 32px;
}

.svg--facebook2-dims {
  width: 32px;
  height: 32px;
}

.svg--female-dims {
  width: 18px;
  height: 32px;
}

.svg--file-dims {
  width: 32px;
  height: 32px;
}

.svg--film-dims {
  width: 26px;
  height: 32px;
}

.svg--filter-dims {
  width: 32px;
  height: 32px;
}

.svg--firefox-dims {
  width: 32px;
  height: 32px;
}

.svg--flag-dims {
  width: 32px;
  height: 32px;
}

.svg--folder-dims {
  width: 32px;
  height: 32px;
}

.svg--gift-dims {
  width: 32px;
  height: 32px;
}

.svg--git-dims {
  width: 32px;
  height: 32px;
}

.svg--github-dims {
  width: 32px;
  height: 32px;
}

.svg--glasses-dims {
  width: 32px;
  height: 32px;
}

.svg--gleam-dims {
  width: 32px;
  height: 32px;
}

.svg--global-dims {
  width: 32px;
  height: 32px;
}

.svg--google-dims {
  width: 32px;
  height: 32px;
}

.svg--google-plus-dims {
  width: 32px;
  height: 32px;
}

.svg--graph-dims {
  width: 32px;
  height: 32px;
}

.svg--graph1-dims {
  width: 32px;
  height: 32px;
}

.svg--graph2-dims {
  width: 32px;
  height: 32px;
}

.svg--graph3-dims {
  width: 32px;
  height: 32px;
}

.svg--gym-dims {
  width: 32px;
  height: 32px;
}

.svg--hammer-dims {
  width: 29px;
  height: 32px;
}

.svg--headphones-dims {
  width: 27px;
  height: 32px;
}

.svg--helm-dims {
  width: 31px;
  height: 32px;
}

.svg--help1-dims {
  width: 32px;
  height: 32px;
}

.svg--help2-dims {
  width: 32px;
  height: 32px;
}

.svg--home-dims {
  width: 32px;
  height: 32px;
}

.svg--hourglass-dims {
  width: 19px;
  height: 32px;
}

.svg--html-five-dims {
  width: 32px;
  height: 32px;
}

.svg--html-five2-dims {
  width: 32px;
  height: 32px;
}

.svg--id-dims {
  width: 27px;
  height: 32px;
}

.svg--info-dims {
  width: 32px;
  height: 32px;
}

.svg--instagram-dims {
  width: 32px;
  height: 32px;
}

.svg--joy-dims {
  width: 29px;
  height: 32px;
}

.svg--junk-dims {
  width: 32px;
  height: 32px;
}

.svg--key-dims {
  width: 15px;
  height: 32px;
}

.svg--keypad-dims {
  width: 32px;
  height: 32px;
}

.svg--laptop-dims {
  width: 32px;
  height: 32px;
}

.svg--leaf-dims {
  width: 17px;
  height: 32px;
}

.svg--left-arrow-dims {
  width: 26px;
  height: 32px;
}

.svg--less-dims {
  width: 32px;
  height: 32px;
}

.svg--light-dims {
  width: 32px;
  height: 32px;
}

.svg--like-dims {
  width: 32px;
  height: 32px;
}

.svg--like2-dims {
  width: 27px;
  height: 32px;
}

.svg--link-dims {
  width: 32px;
  height: 32px;
}

.svg--linkedin-dims {
  width: 32px;
  height: 32px;
}

.svg--lintern-dims {
  width: 32px;
  height: 32px;
}

.svg--location-dims {
  width: 32px;
  height: 32px;
}

.svg--location2-dims {
  width: 32px;
  height: 32px;
}

.svg--lock-dims {
  width: 32px;
  height: 32px;
}

.svg--look-dims {
  width: 32px;
  height: 32px;
}

.svg--loop-dims {
  width: 32px;
  height: 32px;
}

.svg--magic-wand-dims {
  width: 26px;
  height: 32px;
}

.svg--magnet-dims {
  width: 32px;
  height: 32px;
}

.svg--mail-dims {
  width: 32px;
  height: 32px;
}

.svg--mail-open-dims {
  width: 32px;
  height: 32px;
}

.svg--mail-open-file-dims {
  width: 32px;
  height: 32px;
}

.svg--male-dims {
  width: 26px;
  height: 32px;
}

.svg--map-dims {
  width: 32px;
  height: 32px;
}

.svg--map-2-dims {
  width: 25px;
  height: 32px;
}

.svg--map-marker-dims {
  width: 32px;
  height: 32px;
}

.svg--medal-dims {
  width: 19px;
  height: 32px;
}

.svg--menu-dims {
  width: 32px;
  height: 32px;
}

.svg--micro-dims {
  width: 32px;
  height: 32px;
}

.svg--mobile-dims {
  width: 32px;
  height: 32px;
}

.svg--mobile2-dims {
  width: 32px;
  height: 32px;
}

.svg--monitor-dims {
  width: 32px;
  height: 32px;
}

.svg--moon-dims {
  width: 32px;
  height: 32px;
}

.svg--more-dims {
  width: 32px;
  height: 32px;
}

.svg--mouse-dims {
  width: 32px;
  height: 32px;
}

.svg--music-dims {
  width: 32px;
  height: 32px;
}

.svg--musiclist-dims {
  width: 32px;
  height: 32px;
}

.svg--mute-dims {
  width: 24px;
  height: 32px;
}

.svg--network-dims {
  width: 25px;
  height: 32px;
}

.svg--news-paper-dims {
  width: 32px;
  height: 32px;
}

.svg--next-dims {
  width: 32px;
  height: 32px;
}

.svg--next-2-dims {
  width: 30px;
  height: 32px;
}

.svg--note-dims {
  width: 32px;
  height: 32px;
}

.svg--note2-dims {
  width: 25px;
  height: 32px;
}

.svg--notebook-dims {
  width: 32px;
  height: 32px;
}

.svg--opera-dims {
  width: 32px;
  height: 32px;
}

.svg--paint-dims {
  width: 32px;
  height: 32px;
}

.svg--paint-bucket-dims {
  width: 28px;
  height: 32px;
}

.svg--paper-plane-dims {
  width: 32px;
  height: 32px;
}

.svg--paperclip-dims {
  width: 27px;
  height: 32px;
}

.svg--paypal-dims {
  width: 32px;
  height: 32px;
}

.svg--pen-dims {
  width: 32px;
  height: 32px;
}

.svg--pendrive-dims {
  width: 15px;
  height: 32px;
}

.svg--phone-dims {
  width: 32px;
  height: 32px;
}

.svg--photo-dims {
  width: 27px;
  height: 32px;
}

.svg--photo-gallery-dims {
  width: 32px;
  height: 32px;
}

.svg--piggy-dims {
  width: 30px;
  height: 32px;
}

.svg--pin-dims {
  width: 27px;
  height: 32px;
}

.svg--plane-dims {
  width: 32px;
  height: 32px;
}

.svg--play-dims {
  width: 32px;
  height: 32px;
}

.svg--plug-dims {
  width: 27px;
  height: 32px;
}

.svg--plugin-dims {
  width: 29px;
  height: 32px;
}

.svg--plus-dims {
  width: 32px;
  height: 32px;
}

.svg--portfolio-dims {
  width: 32px;
  height: 32px;
}

.svg--power-dims {
  width: 32px;
  height: 32px;
}

.svg--prev-dims {
  width: 32px;
  height: 32px;
}

.svg--print-dims {
  width: 32px;
  height: 32px;
}

.svg--radio-dims {
  width: 32px;
  height: 32px;
}

.svg--refresh-dims {
  width: 32px;
  height: 32px;
}

.svg--refresh-2-dims {
  width: 27px;
  height: 32px;
}

.svg--refresh-cloud-dims {
  width: 32px;
  height: 32px;
}

.svg--repeat-dims {
  width: 32px;
  height: 32px;
}

.svg--ribbon-dims {
  width: 32px;
  height: 32px;
}

.svg--right-arrow-dims {
  width: 26px;
  height: 32px;
}

.svg--rocket-dims {
  width: 21px;
  height: 32px;
}

.svg--rss-dims {
  width: 32px;
  height: 32px;
}

.svg--safari-dims {
  width: 32px;
  height: 32px;
}

.svg--safe-dims {
  width: 26px;
  height: 32px;
}

.svg--science-dims {
  width: 32px;
  height: 32px;
}

.svg--scissors-dims {
  width: 29px;
  height: 32px;
}

.svg--search-dims {
  width: 32px;
  height: 32px;
}

.svg--server-dims {
  width: 32px;
  height: 32px;
}

.svg--settings-dims {
  width: 30px;
  height: 32px;
}

.svg--share-dims {
  width: 32px;
  height: 32px;
}

.svg--shield-dims {
  width: 20px;
  height: 32px;
}

.svg--shopbag-dims {
  width: 32px;
  height: 32px;
}

.svg--shuffle-dims {
  width: 32px;
  height: 32px;
}

.svg--signal-dims {
  width: 32px;
  height: 32px;
}

.svg--smile-dims {
  width: 26px;
  height: 32px;
}

.svg--speaker-dims {
  width: 32px;
  height: 32px;
}

.svg--star-dims {
  width: 32px;
  height: 32px;
}

.svg--stopwatch-dims {
  width: 32px;
  height: 32px;
}

.svg--study-dims {
  width: 32px;
  height: 32px;
}

.svg--sun-dims {
  width: 32px;
  height: 32px;
}

.svg--switch-dims {
  width: 31px;
  height: 32px;
}

.svg--tablet-dims {
  width: 32px;
  height: 32px;
}

.svg--target-dims {
  width: 32px;
  height: 32px;
}

.svg--ticket-dims {
  width: 32px;
  height: 32px;
}

.svg--timer-dims {
  width: 32px;
  height: 32px;
}

.svg--tools-dims {
  width: 32px;
  height: 32px;
}

.svg--trash-dims {
  width: 32px;
  height: 32px;
}

.svg--twitter-dims {
  width: 32px;
  height: 32px;
}

.svg--umbrella-dims {
  width: 32px;
  height: 32px;
}

.svg--unlock-dims {
  width: 32px;
  height: 32px;
}

.svg--up-arrow-dims {
  width: 26px;
  height: 32px;
}

.svg--upload-dims {
  width: 32px;
  height: 32px;
}

.svg--usb-dims {
  width: 14px;
  height: 32px;
}

.svg--user-dims {
  width: 32px;
  height: 32px;
}

.svg--user-female-dims {
  width: 25px;
  height: 32px;
}

.svg--users-dims {
  width: 28px;
  height: 32px;
}

.svg--vector-dims {
  width: 29px;
  height: 32px;
}

.svg--video-dims {
  width: 32px;
  height: 32px;
}

.svg--voicemail-dims {
  width: 32px;
  height: 32px;
}

.svg--volume-dims {
  width: 28px;
  height: 32px;
}

.svg--volume1-dims {
  width: 32px;
  height: 32px;
}

.svg--volume2-dims {
  width: 32px;
  height: 32px;
}

.svg--wallet-dims {
  width: 32px;
  height: 32px;
}

.svg--way-dims {
  width: 22px;
  height: 32px;
}

.svg--wine-dims {
  width: 29px;
  height: 32px;
}

.svg--wordpress-dims {
  width: 32px;
  height: 32px;
}

.svg--world-dims {
  width: 23px;
  height: 32px;
}

.svg--wristwatch-dims {
  width: 27px;
  height: 32px;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.animated.flipOutX, .animated.flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

/*------------------------------------*    #PAGE-PRELOADER-STYLES
\*------------------------------------*/
.is-preloader {
  background: #fff;
}

.is-preloader.pace-done {
  background: #fff;
}

.is-preloader > .page-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pace-done > .page-wrapper {
  visibility: visible;
  opacity: 1;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: #FF2B42;
  z-index: 2000;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1.0;
  -webkit-box-shadow: 0 0 10px #3d4652, 0 0 5px #FF2B42;
  box-shadow: 0 0 10px #3d4652, 0 0 5px #FF2B42;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: -20px;
  border: solid 2px transparent;
  border-top-color: #FF2B42;
  border-left-color: #FF2B42;
  border-radius: 50%;
  z-index: 2000;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

/*------------------------------------*    #GENERAL-STYLES
\*------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  background: #fff;
  color: #3C3744;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  padding-bottom: 57px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

body ::-moz-selection {
  background: #FF2B42;
  color: #fff;
}

body ::selection {
  background: #FF2B42;
  color: #fff;
}

header {
  position: relative;
  z-index: 999;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  position: relative;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h2 {
  position: relative;
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #829399;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h3 {
  position: relative;
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h4 {
  position: relative;
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #1E1E24;
  font-size: 1rem;
  font-weight: 700;
  margin: 15px 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h5 {
  position: relative;
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #829399;
  font-weight: 700;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  background: transparent;
  border: none;
  -webkit-appearance: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* delay timers */
.delay0-4s {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -ms-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -ms-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.delay0-8s {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -ms-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -ms-transition-delay: .8s;
  -o-transition-delay: .8s;
  transition-delay: .8s;
}

.delay1-2s {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

/*------------------------------------*    #SKIP-TO-NAV & SKIP-TO-CONTENT
\*------------------------------------*/
.skip-link {
  position: absolute;
  top: 2.25rem;
  left: 2.25rem;
  float: left;
  text-align: left;
  color: #E3F2FD;
  font-weight: 400;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.visually-hidden {
  border: 0;
  /* clip: rect(0 0 0 0); */
  height: .0625rem;
  margin: -.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .0625rem;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  overflow: visible;
}

/*------------------------------------*    #SCROLL-TOP-STYLES
\*------------------------------------*/
.scroll-to-top-btn {
  display: block;
  position: fixed;
  right: -60px;
  bottom: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 9700;
  opacity: 0;
  -webkit-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  -moz-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  -ms-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  -o-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
  transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
}

.scroll-to-top-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E3F2FD;
  border: 1px solid #3C3744;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.scroll-to-top-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/scroll-top.svg") no-repeat;
  background-size: 60%;
  background-position: center;
}

.scroll-to-top-btn.visible {
  right: 15px;
  opacity: 1;
}

/*------------------------------------*    #SCROLL-DOWN-STYLES
\*------------------------------------*/
.scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  z-index: 18;
  -webkit-animation-name: fadeInOutDown;
  animation-name: fadeInOutDown;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.scroll-down a {
  display: block;
}

.scroll-down a svg {
  width: 45px;
  height: 50px;
  fill: #E3F2FD;
}

/*------------------------------------*    #HEADER-STYLES
\*------------------------------------*/
header.site-header {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 3px -4px 9px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px -4px 9px 0px rgba(0, 0, 0, 0.15);
}

header.site-header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header.site-header .main-header a.logo {
  display: none;
}

header.site-header .main-header nav.site-nav {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header.site-header .main-header nav.site-nav a {
  display: block;
  position: relative;
  width: 20%;
  font-family: "Montserrat", sans-serif;
  color: #3C3744;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  padding: 5px 0;
}

header.site-header .main-header nav.site-nav a svg {
  display: block;
  fill: #3C3744;
  margin: 0 auto;
}

header.site-header .main-header nav.site-nav a span {
  display: block;
}

header.site-header .main-header nav.site-nav a.active {
  background: #FF2B42;
}

section.site-banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 57px);
  background: url("../images/banners/home-banner.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  z-index: 1;
}

section.site-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.3);
  z-index: -1;
}

section.site-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay.png");
  opacity: 0.5;
  z-index: -1;
}

section.site-banner .flex-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.site-banner .flex-container h1 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

section.site-banner .flex-container h1 span {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding-top: 15px;
}

section.site-banner .flex-container h1 span::before {
  content: '';
  position: absolute;
  top: 17%;
  right: 0;
  left: 0;
  width: 40%;
  height: 1px;
  background: #FF2B42;
  margin: 0 auto;
}

section.site-banner .flex-container .social-bar {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.site-banner .flex-container .social-bar a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 10px;
}

section.site-banner .flex-container .social-bar a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(130, 147, 153, 0.2);
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

section.site-banner .flex-container .social-bar a svg {
  position: relative;
  width: 17px;
  height: 100%;
  fill: #fafafa;
}

main.site-main section.title-banner {
  background: #E3F2FD;
  padding: 60px 0;
  text-align: center;
}

main.site-main section.title-banner h2 {
  color: #3C3744;
  font-size: 1.5rem;
  margin: 0;
}

main.site-main section.site-about .about-info {
  background: #fafafa url("../images/white-overlay.png");
  color: #3C3744;
  padding: 30px;
}

main.site-main section.site-about .about-info h3 {
  color: #FF2B42;
  font-weight: 400;
}

main.site-main section.site-about .about-info p:last-child {
  margin-bottom: 0;
}

main.site-main section.site-about .about-info a {
  display: inline-flex;
  position: relative;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main.site-main section.site-about .about-info a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FF2B42;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

main.site-main section.site-about .about-info a span {
  display: inline-block;
  position: relative;
  color: #fafafa;
  font-weight: 600;
  padding: 12px;
  vertical-align: middle;
}

main.site-main section.site-about .about-info a svg {
  position: relative;
  width: 40px;
  height: 40px;
  fill: #fafafa;
  padding: 6px;
}

main.site-main section.site-skills {
  position: relative;
  padding: 60px 0;
}

main.site-main section.site-skills input.knob {
  width: 91px;
  height: 58px;
  position: absolute;
  vertical-align: middle;
  margin-top: 58px;
  margin-left: -133px;
  border: 0px;
  background-image: none;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: normal;
  font-size: 35px;
  line-height: normal;
  font-family: Arial;
  text-align: center;
  color: #ff2b42;
  padding: 0px;
  -webkit-appearance: none;
  background-position: initial initial;
  background-repeat: initial initial;
}

main.site-main section.site-portfolio {
  background: #fafafa url("../images/white-overlay.png");
  padding: 60px 0;
}

main.site-main section.site-portfolio .portfolio-inner h2 {
  color: #1E1E24;
}

main.site-main section.site-portfolio .portfolio-inner .portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button {
  background: #3C3744;
  color: #fafafa;
  padding: 10px 16px;
  margin: 0;
  border-right: 1px solid #1E1E24;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button:last-child {
  border-right: none;
}

main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button.is-checked {
  background: #FF2B42;
  color: #fafafa;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item {
  width: 100%;
  overflow: hidden;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item img {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:active img {
  opacity: 0.4;
  -webkit-transform: translate3d(0px, -55px, 0px);
  -moz-transform: translate3d(0px, -55px, 0px);
  -ms-transform: translate3d(0px, -55px, 0px);
  -o-transform: translate3d(0px, -55px, 0px);
  transform: translate3d(0px, -55px, 0px);
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:active .portfolio-info {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:active .portfolio-info::before {
  width: 80%;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:active .portfolio-info .link-icons svg {
  fill: #fafafa;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item .portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fafafa;
  color: #1E1E24;
  padding: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item .portfolio-info::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -5%;
  width: 0;
  height: 220%;
  background: #FF2B42;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transform-origin: center top 0;
  -moz-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  -o-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item .portfolio-info .portfolio-text h4 {
  color: #1E1E24;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item .portfolio-info .portfolio-text p {
  margin: 0;
}

main.site-main section.site-portfolio .portfolio-inner .grid .grid-item .portfolio-info .link-icons svg {
  width: 20px;
  height: 20px;
  fill: #1E1E24;
  margin: 0 5px;
}

/*------------------------------------*    #KEYFRAMES
\*------------------------------------*/
/* - Pace Spinner - */
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* - Fade In - */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* - Fade In Out Down - */
@keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
}

@-webkit-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
}

@-moz-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
}

@-o-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
}

@-ms-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
}

/*------------------------------------*    #MEDIA-QUERIES
\*------------------------------------*/
/* Large Screen Phones */
@media (min-width: 400px) {
  body {
    font-size: 0.9rem;
    padding-bottom: 60px;
  }
  header.site-header .main-header nav.site-nav a {
    font-size: 0.85rem;
  }
  section.site-banner {
    height: calc(100vh - 57px);
  }
  section.site-banner .flex-container h1 {
    font-size: 1.7rem;
  }
  section.site-banner .flex-container h1 span {
    font-size: 1.3rem;
  }
  section.site-banner .flex-container .social-bar a {
    width: 35px;
    height: 35px;
  }
  section.site-banner .flex-container .social-bar a svg {
    width: 18px;
  }
  .scroll-down {
    width: 55px;
    height: 55px;
  }
  .scroll-down a svg {
    width: 50px;
    height: 55px;
  }
  main.site-main section.title-banner h2 {
    font-size: 1.7rem;
  }
  main.site-main section.site-about .about-info a svg {
    width: 42px;
    height: 42px;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button {
    width: 24%;
    margin: 0;
  }
}

/* Small Screen Tabelts */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  header.site-header .container {
    width: 100%;
  }
  section.site-banner {
    height: calc(100vh - 83px);
  }
  section.site-banner .flex-container {
    right: 0;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  section.site-banner .flex-container h1 {
    font-size: 2.2rem;
  }
  section.site-banner .flex-container h1 span {
    font-size: 1.7rem;
    padding-top: 30px;
  }
  section.site-banner .flex-container h1 span::before {
    top: 20%;
  }
  section.site-banner .flex-container .social-bar {
    margin-top: 20px;
  }
  .scroll-down a svg {
    width: 60px;
    height: 65px;
  }
  main.site-main section.title-banner h2 {
    font-size: 1.9rem;
  }
  main.site-main section.site-about .flex-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  main.site-main section.site-about .flex-container .about-info {
    width: 50%;
  }
  main.site-main section.site-about .flex-container .about-img {
    width: 50%;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter {
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button {
    font-size: 0.9rem;
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item {
    width: 50%;
    margin-bottom: 0;
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item .portfolio-info .link-icons svg {
    width: 30px;
    height: 30px;
  }
}

/* Medium Screen Tablets */
@media (min-width: 992px) {
  body {
    font-size: 1rem;
    padding: 0;
  }
  .container {
    width: 970px;
  }
  header.site-header {
    top: 0;
    bottom: initial;
    background: transparent;
    padding: 5px 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  header.site-header .container {
    width: 970px;
  }
  header.site-header .flex-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  header.site-header .main-header a.logo {
    display: block;
    width: 30%;
    color: #fafafa;
    min-width: 200px;
  }
  header.site-header .main-header a.logo img {
    display: inline-block;
    vertical-align: middle;
    max-width: 60px;
  }
  header.site-header .main-header a.logo span {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    vertical-align: middle;
  }
  header.site-header .main-header nav.site-nav {
    width: 70%;
    height: auto;
    background: transparent;
    text-align: right;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  header.site-header .main-header nav.site-nav a {
    display: block;
    width: auto;
    color: #fafafa;
    padding: 0 15px;
    margin: 0;
    cursor: pointer;
  }
  header.site-header .main-header nav.site-nav a svg {
    fill: #fafafa;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header.site-header .main-header nav.site-nav a:last-child {
    padding-right: 0;
  }
  header.site-header .main-header nav.site-nav a:hover {
    color: #FF2B42;
  }
  header.site-header .main-header nav.site-nav a:hover svg {
    fill: #FF2B42;
  }
  header.site-header .main-header nav.site-nav a.active {
    background: transparent;
    color: #FF2B42;
  }
  header.site-header .main-header nav.site-nav a.active svg {
    fill: #FF2B42;
  }
  header.site-header.light {
    background: rgba(250, 250, 250, 0.85);
    -webkit-box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.15);
  }
  header.site-header.light .main-header a.logo {
    color: #3C3744;
  }
  header.site-header.light .main-header nav.site-nav a {
    color: #3C3744;
  }
  header.site-header.light .main-header nav.site-nav a svg {
    fill: #3C3744;
  }
  header.site-header.light .main-header nav.site-nav a.active {
    color: #FF2B42;
  }
  header.site-header.light .main-header nav.site-nav a.active svg {
    fill: #FF2B42;
  }
  header.site-header.light .main-header nav.site-nav a:hover {
    color: #FF2B42;
  }
  header.site-header.light .main-header nav.site-nav a:hover svg {
    fill: #FF2B42;
  }
  section.site-banner {
    height: 500px;
  }
  section.site-banner .flex-container {
    width: 970px;
  }
  section.site-banner .flex-container .social-bar a::before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  section.site-banner .flex-container .social-bar a:hover::before {
    background: #FF2B42;
  }
  section.site-banner .flex-container .social-bar a svg {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  main.site-main section.title-banner h2 {
    font-size: 2rem;
  }
  main.site-main section.site-about .about-info a {
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  main.site-main section.site-about .about-info a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(30, 30, 36, 0.9);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  main.site-main section.site-about .about-info a:hover::after {
    width: 100%;
  }
  main.site-main section.site-about .about-info a span {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  main.site-main section.site-about .about-info a svg {
    position: relative;
    width: 44px;
    height: 44px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  main.site-main section.site-portfolio .portfolio-inner {
    padding: 0;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter {
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button {
    width: auto;
    padding: 10px 35px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button:first-child {
    margin-left: 0;
  }
  main.site-main section.site-portfolio .portfolio-inner .portfolio-filter button:hover {
    background: #FF2B42;
    color: #fafafa;
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item {
    width: 33.333%;
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:hover img {
    opacity: 0.6;
    -webkit-transform: translate3d(0px, -55px, 0px);
    -moz-transform: translate3d(0px, -55px, 0px);
    -ms-transform: translate3d(0px, -55px, 0px);
    -o-transform: translate3d(0px, -55px, 0px);
    transform: translate3d(0px, -55px, 0px);
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:hover .portfolio-info {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:hover .portfolio-info::before {
    width: 80%;
  }
  main.site-main section.site-portfolio .portfolio-inner .grid .grid-item:hover .portfolio-info .link-icons svg {
    fill: #fafafa;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }
}

/* Large Screen Tablets - Laptop - Desktop */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  header.site-header .container {
    width: 1170px;
  }
  section.site-banner {
    height: 550px;
  }
  section.site-banner .flex-container {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-height: 1080px) {
  section.site-banner {
    height: 100vh;
  }
}

/*# sourceMappingURL=maps/main.css.map */
