//Colour pallette
$primary-color: #35c1ff;
$secondary-color: #3d4652;
$tertiary-color: #999;
$quaternary-color: #f9f9f9;
$quinary-color: #e0e0e0;
$senary-color: #172334;

//Default colors
$black: #000;
$white: #fff;
