//Colour pallette
$primary-color: #829399;
$secondary-color: #fafafa;
$tertiary-color: #3C3744;
$quaternary-color: #1E1E24;
$quinary-color: #E3F2FD;
$senary-color: #FF2B42;

//Default colors
$black: #000;
$white: #fff;
